.loader{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px dashed  #95ECB3;
    animation: rotate 1s infinite linear;
    animation-direction: alternate;
}
.loader_block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 0px 0px ;
}
@keyframes rotate{
    from{
        transform: rotate(0deg) scale(1);
    }
    to{
        transform: rotate(360deg) scale(1.4);
    }
}